.grid {
    background-color: gray;
    display: inline-block;
}
.cell {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: inline-block;
}


.row {
    height: 42px;
}
.difficulty {
    padding-bottom: 20px;
}
body {
    text-align: center;
}